 body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 
.container{
    flex:1;
}

.navbar{
    height: 4rem;
}
.fa-house-user{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-link a{
    text-decoration: none;
    color: #222222;
}
.f-info-link a:hover{
    text-decoration: underline;
}
.f-info-link{
    width: 100%;
}
.f-info-socials{
    width: 100%;
    font-size: 1.5rem;
}
.f-info{
    text-align: center;
    display: flex;
    height: 5rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/*Cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    
}

.card-image-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
      font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/*card effect */
 .card-img-overlay{
    opacity: 0;
 }
 .card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
 }

 /* show page */
 .show-img{
    height: 30vh;
 }
 .btns{
    display: flex;
 }
 .show-card{
    padding-left: 0;
    padding-right: 0;
 }

